html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
html {
 scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.cflex {
   display: flex;
}
.cf1 {
   flex: 1;
}
.cf2 {
  flex: 2;
}
.cf9 {
   flex: 9;
}
.cjcsb {
  justify-content: space-between;
}
.cjcc {
   justify-content: center;
}
.cjcfe {
   justify-content: flex-end;
}
.cffdc {
  flex-direction: column;
}
.container-body {
  color: #000;
  /* padding-top: 5rem; */
  display: flex;
  flex-direction: column;
}
.cek-catalog-container {
 height: 3rem;
 margin-top: -3rem;
 background: transparent;
 width: 100%;
}
.section-one {
  background: #cdcdcd;
  width: 100%;
  overflow: hidden;
  height: 100vh;
  background-size: cover;
  position: relative;
  z-index: 1;
  /* border-bottom-right-radius: 30rem; */
}
.section-one > .cover {
   position: absolute;
   background: #000;
   width: 100%;
   height: 100%;
   opacity: .5;
   z-index: 1;
}
.section-one > .bg {
  width: 100%;
  height: 100%;
  animation: scale-up-center 6s infinite;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}
.section-one > .bgNone {
  display: none;
}

.section-onehalf {
   height: 33rem;
   padding-right: 5rem;
   padding-left: 5rem;
   position: relative;
   /* background: lime; */
}

.grid-section-half {
   display: grid;
   grid-gap: 2rem;
   justify-items: center;
   align-items: center;
   grid-template-columns: repeat(auto-fill, 25rem);
   z-index: 2;
}

.grid-section-half>* {
 background-color: transparent;
 height: 30rem;
 width: 25rem;
 padding-top: 5rem;
 /* justify-content: center; */
 /* border-radius: 5rem; */
 z-index: 2;
}
.text-container-3 {
 cursor: pointer;
 z-index: 2;
 text-align: center;
}
.icon-container {
 color: #896018;
 margin-bottom: -2rem;
}
.text-container-3 > h3 {
 color: #896018;
 font-size: 2rem;
 /* margin-bottom: -.015rem; */
}
.text-container-3 > span {
 color: #000;
 font-size: 1rem;
}
.section-two {
  width: 100%;
  height: 95vh;
  z-index: 2;
  /* margin-top: 1rem; */
  background: linear-gradient(45deg, rgba(125,123,17,1) 0%, rgba(240,218,81,1) 96%);
  /* border-top-left-radius: 20rem; */
  overflow: hidden;
  background-size: cover;
  position: relative;
}
.section-two > .cover {
 background: #000;
 width: 100%;
 height: 100%;
 position: absolute;
 background-size: cover;
 opacity: .3;
 z-index: 1;
}
.section-three {
   margin-top: 1rem;
   height: 30rem;
   background: #eee;
   /* transform: skewY(10deg); */
   z-index: 4
}
.section-three > .first-div {
   height: 30rem;
   width: 100%;
   background: rgba(299, 299, 299, 0.8);
   transform: skewY(5deg);
   position: absolute;
}
.section-three > .second-div {
   height: 20rem;
   width: 100%;
   background: rgba(299, 299, 299, 0.7);
   transform: skewY(-5deg);
   position: absolute;
}
.section-three > .third-div {
   height: 20rem;
   width: 100%;
   background: rgba(299, 299, 299, 0.5);
   transform: skewY(-10deg);
   position: absolute;
}
.section-three > .fourth-div {
   height: 100%;
   width: 100%;
   /* background: #e2e2e2; */
   background: rgba(299, 299, 299, 0.8);
   /* transform: skewY(-10deg); */
   position: absolute;
   padding: 4rem;
}
.container-grid {
  display: grid;
  grid-gap: 1vw;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(auto-fill, 47vw);
  z-index: 2;
}
.container-grid>* {
 background-color: rgba(299, 299, 299, .8);
 height: 40em;
 width: 47vw;
 /* justify-content: center; */
 border-radius: 5rem;
 z-index: 2;
}
.inner-section-two{
   margin: 6rem 2rem 0rem 2rem;
}
.grid-inner {
 margin-top: 1rem;
 display: grid;
 /* grid-gap: 1rem; */
 justify-items: center;
 align-items: center;
 grid-template-columns: repeat(auto-fill, 19rem);
 z-index: 2;
}
.grid-inner>* {
 background-color: transparent;
 height: 22rem;
 width: 19rem;
 /* justify-content: center; */
 /* border-radius: 5rem; */
 z-index: 2;
}
.container-exp {
  padding: 5rem;
  white-space: nowrap;
  text-align: center;
  margin: auto;
}
.container-exp > h3 {
  font-size: 3rem;
  color: #896018;
  margin-bottom: 0;
}

.container-fitur {
  padding: .5rem;
}
.container-fitur > ul {
   list-style: none;
   color: #896018;
   font-size: 1.1rem;
}
.container-fitur > ul > li {
  padding-top: 1rem;
}
.container-fitur > ul > li > svg {
  margin-bottom: -.3rem;
}
.container-text-2 {
   display: flex;
   overflow: hidden;
   padding-left: 2rem;
   padding-right: 2rem;
   flex-direction: column;
   word-wrap: break-word;
}
.container-text-2 > h1 {
 font-size: 4.5vh;
 color: #896018;
}
.container-text {
   position: absolute;
   padding: 1rem;
   width: 55%;
   height: 26rem;
   margin: 15rem 0rem;
   background: rgba(299, 299, 299, .6);
   z-index: 2;
   display: flex;
   word-wrap: break-word;
   flex-direction: column;
   border-radius: 2rem;
}
.container-text > h1 {
   font-size: 4.5vh;
   color: #896018;
}
.container-text > span {
   font-size: 2vh;
}
.container-text > .btnContainer {
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
}
.container-text > .btnContainer > .inner {
   display: flex;
   justify-content: flex-end;
}
.btn-primary {
   cursor: pointer;
   width: 9rem;
   height: 3rem;
   padding-top: 1rem;
   color: #fff;
   background: rgb(240,170,67);
   border-radius: .5rem;
   transition: 2s;
   text-align: center;
   z-index: 5;
}
.btn-primary:hover {
   background: rgb(125,81,17);
}
.nav-top > .list-menu > ul > li:hover {
 border-bottom: .4rem solid rgb(240,170,67);
 color: #fff;
}
.nav-top > .list-menu > ul > li.active {
 border-bottom: .4rem solid rgb(240,170,67);
}
.nav-top {
 /* background: linear-gradient(196deg, rgba(125,81,17,1) 0%, rgba(240,218,81,1) 96%); */
 color: rgb(240,170,67);
 height: 5rem;
 display: flex;
 flex: 1;
 flex-direction: column;
 position: fixed;
 width: 100%;
 z-index: 5;
}

.scroll {
  background: linear-gradient(196deg, rgba(125,81,17,0.5) 0%, rgba(240,218,81,0.5) 96%);
}
.nav-top > .list-menu {
 display: flex;
 /* max-width: 15rem; */
 justify-content: flex-end;
 /* padding-top: 1rem; */
}
.nav-top > .list-menu > ul {
 display: flex;
 flex: 1;
 margin-right: 3rem;
 gap: 1rem;
 justify-content: flex-end;
 list-style: none;
}
.nav-top > .list-menu > ul > li {
 cursor: pointer;
 color: #fff;
 width: 6em;
 text-align: center;
 padding-top: 1rem;
 height: 3rem;
 transition: .5s;
}
@media screen and (max-width: 865px) {
 .section-one {
   height: 55rem;
 }
 .nav-top{
  display: none;
  position: fixed;
  width: 45%;
  z-index: 4;
  background: linear-gradient(196deg, rgba(125,81,17,1) 0%, rgba(240,218,81,1) 96%);
  height: 100%;
  /* display: flex; */
  justify-content: center;
 }
 .nav-top.scroll {
   background-color: linear-gradient(196deg, rgba(125,81,17,1) 0%, rgba(240,218,81,1) 96%) !important;
 }
 .nav-top > .list-menu {
   margin-top: 9rem;
   display: flex;
   /* max-width: 15rem; */
   justify-content: center;
   /* padding-top: 1rem; */
 }
 .nav-top > .list-menu > ul {
   /* display: flex; */
   display:unset;
   /* flex: 1; */
   margin-right: 0;
   /* gap: 1rem; */
 }
 /*end nav*/
 .container-body {
   padding-top: 0;
 }
 .container-text {
  position: absolute;
  padding: 2rem;
  width: 100%;
  height: 30rem;
  margin: 4rem 0rem;
  background: rgba(299, 299, 299, 0.5);
  z-index: 2;
  display: flex;
  word-wrap: break-word;
  flex-direction: column;
}
.container-text > .btnContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.container-text > .btnContainer > .inner {
  display: flex;
  justify-content: center;
}
}
@media screen and (max-width: 1279px) {
 .container-grid>* {
  /* background-color: green; */
  height: 10rem;
  width: 75vw;
 }
 .inner-section-two{
   margin: 10rem 0rem 0rem 30vw;
 }
 .section-two {
    height: 165rem;
 }
 .container-text-2 {
    height: 70rem;
 }
 .section-onehalf {
    height: 95rem;
 }
 .grid-section-half {
   display: grid;
   grid-gap: 2rem;
   justify-items: center;
   align-items: center;
   grid-template-columns: repeat(auto-fill, 75vw);
   z-index: 2;
 }
 .grid-section-half>* {
    width: 75vw;
 }
}
@media screen and (max-width: 1421px) and (min-width: 1280px){
   .grid-section-half {
    display: grid;
    grid-gap: 2rem;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(auto-fill, 28vw);
    z-index: 2;
  }
  .grid-section-half>* {
     width: 20vw;
  }
}
.scale-up-center {
	-webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
@media only screen and (max-width: 895px) {
 .grid-inner {
  margin-top: 1rem;
  grid-template-columns: repeat(auto-fill, 60vw);
  z-index: 2;
 }
}
/*animation 
*/
/* ----------------------------------------------
 * Generated by Animista on 2022-2-20 1:27:49
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-up-center
 * ----------------------------------------
 */
 @-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(1);
     transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.25);
     transform: scale(1.25);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(1);
      transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.25);
     transform: scale(1.25);
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2022-2-21 15:23:53
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-bottom
 * ----------------------------------------
 */
 @-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes slide-bottom {
 0% {
   -webkit-transform: translateY(-100px);
   transform: translateY(-100px);
   opacity: 0;
 }
 100% {
   -webkit-transform: translateY(0px);
   transform: translateY(0px);
   opacity: 1;
 }
}

/*slid top fade in*/
.fade-in-slide-top {
	-webkit-animation: fade-in-slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
 animation: fade-in-slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2022-2-25 19:44:46
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-top
 * ----------------------------------------
 */
 @-webkit-keyframes fade-in-slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-in-slide-top {
 0% {
   -webkit-transform: translateY(100px);
   transform: translateY(100px);
   opacity: 0;
 }
 100% {
   -webkit-transform: translateY(0);
   transform: translateY(0);
   opacity: 1;
 }
}

/*fade in slide right */
.fade-in-slide-right {
	-webkit-animation: fade-in-slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: fade-in-slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2022-2-25 19:52:33
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-right
 * ----------------------------------------
 */
 @-webkit-keyframes fade-in-slide-right {
  0% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fade-in-slide-right {
 0% {
   -webkit-transform: translateX(-100px);
   transform: translateX(-100px);
   opacity: 0;
 }
 100% {
   -webkit-transform: translateX(0);
   transform: translateX(0);
   opacity: 1;
 }
}
